@import '~bootstrap/scss/bootstrap';

.source-list {
  float: right;
  list-style-type: none;
}

li {
  float: left;
  width: 25%;
}

.sourceInput {
  padding: 5px;
}

.mainPageHeader {
  border-radius: 25px;
  font-weight: bold;
  margin: 10px 20%;
  padding: 10px;
  text-align: center;
  width: 60%;
}
