@import '~bootstrap/scss/bootstrap';

.source-list {
  float: right;
  list-style-type: none;
  width: 20%;
}

.treasureOutput {
  text-align: center;
  background-color: black;
}

li {
  list-style-type: none;
}

.sourceInput {
}

.mainPageHeader {
  border-radius: 25px;
  font-weight: bold;
  margin: 10px 20%;
  padding: 10px;
  text-align: center;
  width: 60%;
}
